name: Star History Chart

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-star-history:
    runs-on: ubuntu-latest
    env:
      BASE_URL: https://api.star-history.com/svg
      BASE_OPTIONS: type=date&logscale&legend=top-left
      REPO_LIST: bittner/pyclean,painless-software/python-cli-test-helpers,painless-software/django-probes,behave/behave-django,jazzband/django-analytical,behave/behave
    steps:
    - uses: actions/checkout@v6
    - name: Fetch Star History Chart
      run: |
        set -euo pipefail
        mkdir -p star-history
        curl -fsSL "${BASE_URL}?repos=${REPO_LIST}&${BASE_OPTIONS}" -o star-history/star-history.svg
        curl -fsSL "${BASE_URL}?repos=${REPO_LIST}&${BASE_OPTIONS}&theme=dark" -o star-history/star-history-dark.svg
    - name: Commit & Push
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add star-history/
        if git commit -m "Update star history chart"; then
          git push
        fi
